name: Pipelai
description: AI Automation Solutions
url: https://Pipelai.com
baseurl: ""

markdown: kramdown
highlighter: rouge
permalink: pretty

plugins:
  - jekyll-sitemap
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor/

collections:
  services:
    output: true
    permalink: /services/:name/

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  - scope:
      path: "_services"
      type: "services"
    values:
      layout: "service"